<div class="example-container mat-elevation-z8">
  <mat-table #table [dataSource]="dataSource">

    <ng-container matColumnDef="position">
      <mat-header-cell *matHeaderCellDef> No. </mat-header-cell>
      <mat-cell *matCellDef="let EmpInfo"> {{EmpInfo.position}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
      <mat-cell *matCellDef="let EmpInfo"> {{EmpInfo.name}} </mat-cell>
    </ng-container>

    <ng-contianer matColumnDef="phNumber">
      <th mat-header-cell *matHeaderCellDef>Phone Number</th>
      <td mat-cell *matCellDef="let EmpInfo">{{EmpInfo.phNumber}}</td>
    </ng-contianer>

    <ng-container matColumnDef="dateOfBirth">
      <mat-header-cell *matHeaderCellDef>Birth</mat-header-cell>
      <mat-cell *matCellDef="let EmpInfo"> {{EmpInfo.dateOfBirth}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="year">
      <mat-header-cell *matHeaderCellDef>Year</mat-header-cell>
      <mat-cell *matCellDef="let EmpInfo"> {{EmpInfo.year}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="address">
      <mat-header-cell *matHeaderCellDef>Address</mat-header-cell>
      <mat-cell *matCellDef="let EmpInfo"> {{EmpInfo.address}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>

  <mat-paginator #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20]">
  </mat-paginator>
</div>